@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #1B141B;
  overflow-x: hidden;
  /* 전체 페이지에서 가로 스크롤 방지 */
}


