@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 160px;
    height: 100%;
    align-items: center;
}


.fixed_right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    right: 30px;
  bottom: 100px;
  z-index: 99999999;
align-items: center;
  width: 100px;
  height: 322px;
 
}

ul.fixed_right>li>a .onsil{background-image: 
    url(../img/background_main/onsil_small.svg);
    width: 105px;
    height: 105px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;

 
}

ul.fixed_right>li>a .outdoor{background-image: 
    url(../img/background_main/oacwea_small.svg);
    width: 105px;
    height: 105px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
}

ul.fixed_right>li>a .tlaktlak{background-image: 
    url(../img/background_main/conusl_flower.svg);
    width: 92px;
    height: 92px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
}





/* font-family: "Yellowtail", cursive; */


/* main_visual */
.main_visual {
    display: flex;
    justify-content: center;

    align-items: center;

    width: 100%;
    height: 100vh;
    min-height: 720px;
    overflow: visible;
    z-index: 0;
    position: relative;



}

.main_visual .swiper.yeomiji {
    width: 100%;
    height: 100%;
    /* border-radius: 0 0 340px 340px; */
    overflow: visible;
    background-size: cover;
    background-position: center;
    z-index: 1;

}

.main_visual .swiper.yeomiji-main .yeomiji-wrapper-main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    /*  flex-shrink: 0; */
}

.swiper.yeomiji-main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 350px 350px;
}


.swiper-slide.yeomiji-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.swiper-slide.yeomiji-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 5s ease-in-out;
}


.swiper-slide-active.yeomiji-slide img {
    transform: scale(1.4);
}

.yeomiji-pagination {
    padding-right: 24px;
}

/* 기본 페이지네이션 불렛 색상 */
.swiper.yeomiji-main .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.80);

    border: none;

}

/* 활성화된 불렛 색상 */
.swiper.yeomiji-main .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #ffffff;

    opacity: 1;
}



/* 불렛이 클릭되었을 때 색상 */
.swiper.yeomiji-main .swiper-pagination-bullet:focus {
    outline: none;

    background: #ffffff;

    opacity: 1;

}


.main_visual .container {
    margin-top: 40px;
    width: 1450px;
    height: 640px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;


    position: absolute;
    z-index: 100;


}

.main_visual .container .left {

    width: 880px;
    height: 399px;

    display: flex;
    flex-direction: column;
    z-index: 300;

    left: 0;

}

.main_visual .container .left .titlesub {
    width: 115px;
    height: 170px;
    top: 0;
    left: 0;
}

.main_visual .container .left ul.title {
    display: flex;
    font-family: "Roboto", sans-serif;
    padding-top: 28px;
}

.main_visual .container .left ul.title>li:nth-child(1) {
    font-size: 94px;
    font-family: "Roboto", sans-serif;
    line-height: 94px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}

.main_visual .container .left ul.title>li:nth-child(2) {
    font-size: 94px;
    font-family: "Roboto", sans-serif;
    line-height: 94px;
    font-weight: 100;
    font-style: normal;
    padding-left: 13px;
    color: #fff;
}

.main_visual .container .left .button {

    display: flex;

    bottom: 0;

    justify-content: space-between;

    width: 100%;
    margin-top: 58px;

}


.main_visual .container .left .button>li {
    width: 276px;
    height: 50px;
    border-radius: 59px;
    border: 1.2px solid #B8FF61;
    background-color: #2D2D2D;
    opacity: 0.7;
    padding: 10px 30px;

    display: flex;
    align-items: center;
}

.main_visual .container .left .button>li>a {
    display: flex;
    justify-content: space-between;

    width: 100%;

    align-items: center;
}

.main_visual .container .left .button>li>a>p {
    font-size: 27px;
    line-height: 27px;
    color: #B8FF61;
    font-family: 'Pretendard Variable', sans-serif;

    font-style: normal;
}

.main_visual .container .left .button>li>a>i {
    line-height: 40px;
    color: #B8FF61;
    scale: 1.5;
}

/*버튼 호버상황 */


.main_visual .container .left .button>li:hover {
    width: 276px;
    height: 50px;
    border-radius: 59px;
    border: 1.2px solid #596900;
    background-color: #DAFF75;
    opacity: 0.7;
    padding: 10px 30px;

    display: flex;
    align-items: center;
}

.main_visual .container .left .button>li:hover>a {
    display: flex;
    justify-content: space-between;

    width: 100%;

    align-items: center;
}

.main_visual .container .left .button>li:hover>a>p {
    font-size: 27px;
    line-height: 27px;
    color: #596900;
    font-family: 'Pretendard Variable', sans-serif;

    font-style: normal;
}

.main_visual .container .left .button>li:hover>a>i {
    line-height: 40px;
    color: #839a00;
    scale: 1.5;
}




/* 메인 비주얼 오른쪽 */

.main_visual .container .right {
    display: flex;
    flex-direction: column;


    width: 414px;
    height: 656px;
    padding-left: 10px;
    justify-content: space-between;


}

.main_visual .container .right .info {
    width: 405px;
    height: 420px;
    background: rgba(255, 255, 255, 0.7) url(../img/weather/sun.png) no-repeat 280px 20px;

    border-top-left-radius: 170px;
    border-bottom-right-radius: 170px;

    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: changeImage 9s infinite;
}

@keyframes changeImage {
    0% {
        background-image: url(../img/weather/sun.png);
    }

    33% {
        background-image: url(../img/weather/rain.png);
    }

    66% {
        background-image: url(../img/weather/windy.png);
    }

    100% {
        background-image: url(../img/weather/cloud.png);
    }
}

.main_visual .container .right .info>ul {
    width: 320px;
    height: 215px;
    display: flex;
    flex-direction: column;

    font-family: 'Pretendard Variable', sans-serif;
    justify-content: space-between;
}

.main_visual .container .right .info>ul li:nth-child(1) {
    margin-top: 32px;
}

.main_visual .container .right .info>ul li .tit1 {
    font-size: 50px;
    font-weight: 100;
    color: #6b8e00;
    display: flex;
    align-items: flex-end;
}


.main_visual .container .right .info>ul li .tit2 strong {
    font-size: 50px;
    font-weight: 100;
    color: #6b8e00;
    display: flex;
    align-items: flex-end;
}

.main_visual .container .right .info>ul li .tit2 {
    display: flex;
    align-items: center;
    gap: 20px;
}


.main_visual .container .right .info>ul li .tit2 a {

    display: flex;
    align-items: flex-end;
    margin-top: 8px;
}



.main_visual .container .right .info>ul li .bottom1 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 4px;
}

.main_visual .container .right .info>ul li .bottom1 b {
    font-weight: 400;
    margin-right: 15px;
    color: #636363;
    font-size: 28px;
    margin-top: 12px;
    line-height: 28px;
}

.main_visual .container .right .info>ul li .bottom1 span {
    font-weight: 200;
    color: #636363;
    font-size: 26px;
    margin-top: 16px;
    line-height: 26px;
}

.main_visual .container .right .info>ul li:nth-child(2) {
    margin-top: 24px;
}

.main_visual .container .right .info>ul li:nth-child(2) .bottom2 span {
    font-weight: 300;
    color: #636363;
    font-size: 24px;


    line-height: 48px;
    margin-left: 3px;
}

















.main_visual .down {
    position: absolute;
    bottom: 65px;

    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0.6;
    z-index: 1000;
    width: 30px;

    height: 30px;
    scale: 2.0;
    animation: bounce 1.5s ease-in-out infinite;

}


@keyframes bounce {

    0%,
    100% {
        bottom: 70px;

    }

    50% {
        bottom: 50px;

    }
}

/* news */
section.news {
    display: flex;
    position: relative;
    width: 1500px;
    min-height: 700px;

    margin: 0 auto;
    gap: 10px;


    flex-direction: column;
}

section.news .title {
    width: 100%;
    height: 130px;
    display: flex;
    gap: 10px;
align-items:flex-end;
/* padding-top: 30px;
padding-bottom: 40px; */

box-sizing: border-box;
padding-bottom: 10px;


}

section.news .title .p1 {
    font-size: 120px;
    line-height: 120px;
    font-family: 'Yellowtail';
    font-weight: 400;
    width: 250px;
    height: 94px;
    left: 0;
    bottom: 0;
    color: #F37F4D;

}

section.news .title a .p2 {
   background-image: url(../img/news/view.svg);
   background-position: center;
   background-repeat: no-repeat;
   width: 56px;
   height: 56px;
}

section.news .line {
    background-image: url(../img/news/coobul.svg);

    width: 1520px;
    height: 53px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    box-sizing: border-box;

}

section.news .con {

    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 486px;
}

section.news .con>li {

    width: 476px;
    height: 486px;
}

section.news .con>li>ul {
    display: flex;
    flex-direction: column;
}


section.news .con li.no1>ul .img1 {
    width: 476px;
    height: 224px;
    background-image: url(../img/news/news_1.png);
    background-size: cover;
    background-position: center;
    display: block;
}

section.news .con li.no1>ul .p1 {
    margin-top: 28px;
    display: flex;
    align-items: flex-start;
    font-size: 40px;
    line-height: 40px;
    color: #BDC003;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 600;
}

section.news .con li.no1>ul .p2 {
    margin-top: 20px;
    font-size: 23px;
    line-height: 28px;
    color: #6B5D56;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 200;

}


section.news .con li>ul>li.no_btn{
    width: 476px;
    height: 52px; 
}

section.news .con li>ul>li.no_btn>a {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    border: 1px solid #97B001;
    background: rgba(244, 248, 219, 0.30);
    bottom: 0;
    left: 0;

}

section.news .con li>ul>li.no_btn>a>p {
    color: #A1AD44;
    font-family: 'Pretendard Variable', sans-serif;
    line-height: 26px;
    font-size: 26px;
    font-weight: 300;

}


section.news .con li>ul>li.no_btn:hover>a {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 476px;
    height: 52px;
    border-radius: 200px;
    border: 1px solid #687901;

    background: #E1ED61;
    bottom: 0;
    left: 0;

}

section.news .con li>ul>li.no_btn:hover>a>p {
    color: #687901;
    font-family: 'Pretendard Variable', sans-serif;
    line-height: 26px;
    font-size: 26px;
    font-weight: 300;

}




section.news .con li.no2>ul .img1 {
    width: 476px;
    height: 224px;
    background-image: url(../img/news/news_2.png);
    background-size: cover;
    background-position: center;
    display: block;
}

section.news .con li.no2>ul .p1 {
    margin-top: 28px;
    display: flex;
    align-items: flex-start;
    font-size: 40px;
    line-height: 40px;
    color: #BDC003;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 600;
}

section.news .con li.no2>ul .p2 {
    margin-top: 20px;
    font-size: 23px;
    line-height: 28px;
    color: #6B5D56;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 200;

}

section.news .con li.no2>ul .btn>a {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 476px;
    height: 52px;
    border-radius: 200px;
    border: 1px solid #97B001;
    background: rgba(244, 248, 219, 0.30);
    bottom: 0;
    left: 0;

}

section.news .con li.no2>ul .btn>a>p {
    color: #A1AD44;
    font-family: 'Pretendard Variable', sans-serif;
    line-height: 26px;
    font-size: 26px;
    font-weight: 300;

}


section.news .con li.no2>ul .btn:hover>a {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 476px;
    height: 52px;
    border-radius: 200px;
    border: 1px solid #687901;

    background: #E1ED61;
    bottom: 0;
    left: 0;

}

section.news .con li.no2>ul .btn:hover>a>p {
    color: #687901;
    font-family: 'Pretendard Variable', sans-serif;
    line-height: 26px;
    font-size: 26px;
    font-weight: 300;

}

section.news .con li.no3>ul .img1 {
    width: 476px;
    height: 224px;
    background-image: url(../img/news/news_3.png);
    background-size: cover;
    background-position: center;
    display: block;
}

section.news .con li.no3>ul .p1 {
    margin-top: 28px;
    display: flex;
    align-items: flex-start;
    font-size: 40px;
    line-height: 40px;
    color: #BDC003;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 600;
}

section.news .con li.no3>ul .p2 {
    margin-top: 20px;
    font-size: 23px;
    line-height: 28px;
    color: #6B5D56;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 200;

}

section.news .con li.no3>ul .btn {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 476px;
    height: 52px;
    border-radius: 200px;
    border: 1px solid #97B001;
    background: rgba(244, 248, 219, 0.30);
    bottom: 0;
    left: 0;

}

section.news .con li.no3>ul .btn>a>p {
    color: #A1AD44;
    font-family: 'Pretendard Variable', sans-serif;
    line-height: 26px;
    font-size: 26px;
    font-weight: 300;

}


section.news .con li.no3>ul .btn:hover {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 476px;
    height: 52px;
    border-radius: 200px;
    border: 1px solid #687901;

    background: #E1ED61;
    bottom: 0;
    left: 0;

}

section.news .con li.no3>ul .btn:hover>a>p {
    color: #687901;
    font-family: 'Pretendard Variable', sans-serif;
    line-height: 26px;
    font-size: 26px;
    font-weight: 300;

}







/* highlight */

section.highlight {
    width: 100%;
    height: 1055px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(../img/highlight.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    margin-bottom: 150px;


}



section.highlight .container {
    width: 1524px;
    height: 870px;
    position: relative;
}

.highlight .container .box {
    display: flex;
    width: 100%;
    height: 506px;
    justify-content: space-between;
align-items: flex-end;
    position: relative;
    z-index: 10;
}

.highlight .container .box .b_icon {
    width: 551px;
    height: 506px;
    background-image: url(../img/highlight/big_float_1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.highlight .container .box .title {
    font-size: 120px;
    line-height: 120px;
    font-family: 'Yellowtail';
    font-weight: 400;
}

.highlight .container .box .title .p1 {
    color: #F37F4D;
    position: absolute;
    left: 100px;
    bottom: 0;
}


.highlight .container .box .title .p1_b {
    font-weight: 500;
    color: #fff;
    position: absolute;
    left: 103px;
    bottom: -5px;
}

.highlight .container .box>a{
transform: translateX(-50px);
    width: 56px;
    height: 56px;
}

.highlight .container .box>a .view{
background-image: url(../img/highlight/view3.svg);
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 100%;
}




.highlight .container .con {
    width: 100%;
    height: 573px;
    display: flex;
    position: relative;
    top: -100px;
    align-items: center;
}


.highlight .container .con .slider {
    width: 100%;
    height: 493px;
    display: flex;
    box-sizing: border-box;
    z-index: 5;

    position: relative;
}

.highlight .container .con .slider .slide_hi {
    width: 1255px;
}



.high_mid .swiper-slide .slide-content {
    display: flex;
    gap: 40px;
}

.high_mid .swiper-slide .slide-content img {
    width: 755px;
    height: 470px;
    display: flex;
}

.high_mid .swiper-slide .slide-content .slide-text {
    display: flex;
    flex-direction: column;
    margin-top: 44px;

}

.high_mid .swiper-slide .slide-content .slide-text strong {
    font-family: 'Pretendard Variable';
    color: #FF8000;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    width: 470px;
    height: 56px;
    border-bottom: 1px solid #FF8000;

}

.high_mid .swiper-slide .slide-content .slide-text .p1 {
    color: #737373;
    font-family: 'Pretendard Variable';
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 16px;
}

.high_mid .swiper-slide .slide-content .slide-text .p2 {

    color: #6B5D56;
    font-family: 'Pretendard Variable';
    font-size: 22px;
    font-weight: 300;
    line-height: 34px;
    margin-top: 70px;

}



.highlight-swiper-prev,
.highlight-swiper-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 62px;
    height: 62px;
    cursor: pointer;
    z-index: 10;

}


.highlight-swiper-prev {
    left: 0px;
}

/* 오른쪽 버튼 */
.highlight-swiper-next {
    right: 0px;
}


.highlight-swiper-prev img,
.highlight-swiper-next img {
    width: 100%;
    height: auto;
    display: block;
}


.highlight .bg {
    position: absolute;
    margin-top: 200px;
    background-size: 100% auto;
    /* 가로로 늘리기, 세로 비율은 유지 */
    width: 100%;
    height: 100%;
    background-image: url(../img/highlight.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    z-index: 0;
    flex-shrink: 0;
    flex-grow: 0;
}




/* Event */

.event{
    width: 1490px;
    height: 100vh;

    position: relative;
    overflow: hidden;

margin-bottom: 160px;
position: relative;
}

.event .txt{
    display: flex;
align-items: center;
padding-left:80px;
 gap: 40px;
}

.event .txt .p1_e{
    font-size: 120px;
    line-height: 120px;
    font-family: 'Yellowtail';
    font-weight: 400;
    color: #a3c97d;
}


.event .txt>li .more img{width: 55px; height: 55px;
margin-top: 30px;}

.event .flower_big{position: absolute; right: 50px;
    top: -40px;
width: 352px; height: 500px;
z-index: 2;

background-image: url(../img/Event/fix_event_flower.png);
background-repeat: no-repeat;
background-position: center;}



.event .container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateY(-240px);
    z-index: 3;
  }

  
  /* 공통 스타일 통합: */
  .con_1,
  .con_2,
  .con_3 {
    position: absolute;
    left: 50%;
    bottom: 60px; /* 화면 아래에서 60px 띄우기 */
    transform: translate(-50%, 100%);
    width: 1490px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease;
     transform: translate(-50%, 100%);
    opacity: 0;
  }
/*   .con_1 {
    transform: translate(-50%, 0);
    opacity: 1;
  
  } */
  
  /* 각 배경 이미지 개별 지정 */
  .event .container .con_1 {
    background-image: url(../img/Event/event_bg_1_3.png);
  }
  
  .event .container .con_2 {
    background-image: url(../img/Event/event_bg_2.png);
  }
  
  .event .container .con_3 {
    background-image: url(../img/Event/event_bg_1_3.png);
  }


.in_con{
   
    position: relative;
    width: 1487px;
    height: 700px;
    display: flex;
    flex-direction: column;


    transform: translateX(70px);
    
margin-top: 310px;

   
}


.in_con .all_3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
   gap: 20px;
}

.in_con .all_3 .both{
    display: flex;
    width: 900px;

    height: auto;
    justify-content: space-between;


}
 .in_con .all_3 .both .leftall{
    width: 494px;
    height: 384px;
    display: flex;

    position: relative;
}

.in_con .all_3 .both .leftall .left_top{
    display: flex;
    flex-direction: column;
   position: absolute;
   top: 0;
   left: 0;
}


.in_con .all_3 .both .leftall .left_top>li{
font-size: 26px;
line-height: 30px;
font-family: 'Pretendard Variable', sans-serif;
color: #84B266;
font-weight: 100;
}

.event .con_2 .in_con .all_3 .both .leftall .left_top>li{
    font-size: 26px;
    line-height: 30px;
    font-family: 'Pretendard Variable', sans-serif;
    color: #FF845D;
    font-weight: 100;
    }

.in_con .all_3 .both .leftall .main_img{

       align-self: flex-end;
              width: 494px;
       height: 348px;
       }

.event .con_1 .in_con .all_3 .both .leftall .main_img{


background-image: url(../img/Event/event_left_img_1.png);
background-repeat: no-repeat;
background-position: center;

}

.event .con_2 .in_con .all_3 .both .leftall .main_img{


    background-image: url(../img/Event/event_left_2.png);
    background-repeat: no-repeat;
    background-position: center;
    
    }
    .event .con_3 .in_con .all_3 .both .leftall .main_img{


        background-image: url(../img/Event/event_left_3.png);
        background-repeat: no-repeat;
        background-position: center;
        
        }
    


.in_con .all_3 .both .mid{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 364px;

align-self: flex-end;


}






.in_con .all_3 .both .mid .p1{
    display: flex;
   align-items: flex-end;
    gap: 9px;
    align-self: flex-end;
   


}
.in_con .all_3 .both .mid .p1 p{
    font-size: 40px;
line-height: 40px;
font-family: 'Pretendard Variable', sans-serif;
color: #B2DE86;
font-weight: 200;

}


.event .con_2 .in_con .all_3 .both .mid .p1 p{
    font-size: 40px;
line-height: 40px;
font-family: 'Pretendard Variable', sans-serif;
color: #e9a28a;
font-weight: 200;

}

.event .con_1 .in_con .all_3 .both .mid .p1 .sel_img{
    background-image: url(../img/Event/sell_event.png);
   background-position: center;
   background-repeat: no-repeat;
   width: 98px;
   height: 127px;
}


.event .con_2 .in_con .all_3 .both .mid .p1 .sel_img{
    background-image: url(../img/Event/sell_event_2.png);
   background-position: center;
   background-repeat: no-repeat;
   width: 98px;
   height: 127px;
}

.event .con_3 .in_con .all_3 .both .mid .p1 .sel_img{
    background-image: url(../img/Event/sell_event_3.png);
   background-position: center;
   background-repeat: no-repeat;
   width: 98px;
   height: 127px;
}

.in_con .all_3 .both .mid .p2{
    font-size: 56px;
    line-height: 66px;
    font-family: 'KOROAD';
    color: #FF845D;
    font-weight: 700;
    text-align: right;
    padding-top: 44px;

}


.event .con_3 .in_con .all_3 .both .mid .p2{
    font-size: 56px;
    line-height: 66px;
    font-family: 'KOROAD';
    color: #FF845D;
    font-weight: 700;
    text-align: right;
 
    padding-top: 44px;

}


.event .con_2 .in_con .all_3 .both .mid .p2{
    font-size: 56px;
    line-height: 66px;
    font-family: 'KOROAD';
    color: #9CCA62;
    font-weight: 700;
    text-align: right;
    padding-top: 44px;

}




.in_con .all_3 .both .mid .p3{
    font-size: 22px;
    line-height: 26px;
    font-family: 'Pretendard Variable', sans-serif;
    color: #809f57;
   
    font-weight: 200;
    text-align: right;
    padding-top: 12px;
}


.event .con_2 .in_con .all_3 .both .mid .p3{
    font-size: 22px;
    line-height: 26px;
    font-family: 'Pretendard Variable', sans-serif;
    color: #da9046;
   
    font-weight: 200;
    text-align: right;
    padding-top: 12px;
}

.in_con .all_3 .marquee{
    display: flex;
    width: 900px;
    height: 40px;
  align-items: center;
    background-color: #A7D37C;

overflow: hidden;
    box-sizing: border-box; 
   
}

.event .con_2 .in_con .all_3 .marquee{
    display: flex;
    width: 900px;
    height: 40px;
  align-items: center;
    background-color: #FFB190;

overflow: hidden;
    box-sizing: border-box; 
   
}


.in_con .all_3 .marquee .beltlong{
display: flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    width: max-content;    
}
.in_con .all_3 .beltlong>li{
    font-size: 24px;
    line-height: 24px;
    font-family: 'Pretendard Variable', sans-serif;
    color: #ffffff;
    font-weight: 400;
 padding-left: 13px;
 white-space: nowrap;

}
.in_con .all_3 .beltlong>li>i{
    font-size: 24px;
    line-height: 24px;  
}
@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
 .in_con .right{
    width: 192px;
    height: 203px;

    position: relative;
        
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: absolute;

right: 270px;
bottom: 280px;

}

 

.event .con_2 .in_con .right a strong{
    font-size: 88px;
    line-height: 96px;
    font-family: 'RiaSans', sans-serif; 
    letter-spacing: 4px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 2px #97CD5A;

    background: linear-gradient(to top,
    #97CD5A 0%,     
    #97CD5A 70%,    
    #97CD5A 100%    
  );
  background-size: 100% 0%; 
  background-position: bottom; 
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background-size 0.8s ease-out;
 }
 .event .con_2 .in_con .right:hover a strong{
    background-size: 100% 100%; 
    -webkit-text-stroke: 0px transparent; 
  }

    


 .in_con .right a strong{
    font-size: 88px;
    line-height: 96px;
    font-family: 'RiaSans', sans-serif; 
    letter-spacing: 4px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 2px #FF845D;
    position: relative;
    overflow: hidden;

    background: linear-gradient(to top,
    #FF845D 0%,     /* 주황 */
    #FF845D 70%,    /* 70%까지 주황 */
    #FF845D 100%    /* 나머지 30% 연두 */
  );
  background-size: 100% 0%; /* 처음엔 안 보이게 (0% 높이) */
  background-position: bottom; /* 바닥에서부터 시작 */
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background-size 0.8s ease-out;
 }
 .in_con .right:hover a strong{
    background-size: 100% 100%; /* 위로 차오름 */
    -webkit-text-stroke: 0px transparent; /* 안쪽만 보이도록 */
  }

 

/* con_event _end*/














/* gallery */

section.gallery {

 
    position: relative;
    background-image: url(../img/gallery/gallery_bg_new.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 1086px;
    width: 100%;
height: auto;

    overflow: hidden;
}
section.gallery .title{
    transform: translateY(0px);
    padding-left: 280px;
    display: flex;
    align-items:flex-end;
    gap: 30px;

}


section.gallery .title h2 {
    font-size: 120px;
    line-height: 120px;
    font-family: 'Yellowtail';
    font-weight: 400;
    color: #C4C803;

}

section.gallery .title>a{
    width: 56px;
    height: 56px;
   display: flex;
   padding-bottom: 20px;
}
section.gallery .title>a .more{
display: flex;
    background-image: url(../img/gallery/view3.svg);
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}



.swiper.myGallery {

   transform: translateY(10px);

    width: 98%;
    height: 1086px;
    align-items: center;
    justify-content: center;
    /*     width: 1925px;
    height: 1086px; */
    overflow: hidden;
}

section.gallery .myGallery .swiper-wrapper {
align-self: center;
    align-items: center;
    margin-right: 50px;
    /*     display: flex;
 
    justify-content: center; */
}



.swiper-slide.gg {

    align-items: center;
    justify-content: center;
    width: 348px;
    height: 860px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    /* transform: scale(0.7); */

    background-image: url(../img/gallery/gg_new_flower_frame.svg);
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
    text-align: center;
   
}

.swiper-slide.gg .con_f{
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    width: 349px;
    height: 578px;
    position: relative;
  
}

.swiper-slide.gg .con_f img {
    display: flex;
position: absolute;
top: 24px;

    width: 304px;
    height: 388px;

}

.myGallery .swiper-slide::after {
    content: '';
    position: absolute;
    top: 142px;
    left: 36.8px;
    width: 348.5px;
    height: 576px;
    background-color: rgba(0,0,0,0.5); /* 검정색 투명도 40% */
    z-index: 1;
    transition: opacity 0.7s;
  }

  /* 활성화된 슬라이드는 레이어 없애기 */
.myGallery .swiper-slide-active::after {
    opacity: 0;
  }
  
  /* 이미지가 겹치지 않게 슬라이드에 relative 설정 */
  .myGallery .swiper-slide {
    position: relative;
    overflow: hidden;
  }

section.gallery .myGallery .swiper-wrapper .swiper-slide-active {
    /* transform: scale(1.1); */

    z-index: 2;
}

section.gallery .myGallery .swiper-wrapper .swiper-slide-active .badge {
    display: block;
}


.swiper-slide-active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    z-index: 1;
    pointer-events: none;
}

.swiper-slide .badge {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 113px;
    height: 202px;
    background: url(../img/gallery/top_icon_new.png) no-repeat center/contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    z-index: 10;
}

/* 텍스트 스타일 */
.gg .con_f ul {
position: absolute;
    display: flex;
    flex-direction: column;

    bottom: 44px;

}

.gg .con_f ul .gp1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: #7E8E21;
    align-self: flex-start;
}

.gg li.gp2 {
    padding-top: 4px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    font-family: 'Pretendard Variable', sans-serif;
    color: #7E8E21;
}


.gg li.gp3 {
    padding-top: 10px;
    font-weight: 22px;
    line-height: 22px;
    font-weight: 100;
    font-family: 'Pretendard Variable', sans-serif;


    color: #7E8E21;
}

.gallery .swiper-button-next::after,
.gallery .swiper-button-prev::after {
    display: none;
}

.gallery .swiper-button-prev,
.gallery .swiper-button-next {
    all: unset;
    /* 모든 기본 스타일 제거 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 44px;
    cursor: pointer;
    position: absolute;
    /* 위치도 잡아줘야 해! */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.gallery .swiper-button-prev {
    left: 30px;
    background-image: url(../img/gallery/left_new.png);
  
}

.gallery .swiper-button-next {
    right: 30px;
    background-image: url(../img/gallery/right_new.png);
}








section.festival {
    width: 100%;
    min-height: 1260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 160px;
    overflow: hidden;
  }
  
  /* 배경 전용 div (배경 이미지를 따로 분리) */
  .festival-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 적절한 높이 조정 */
    background-image: url(../img/festival/festival_bg_new.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
  

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  
.festival-bg.show {
    opacity: 1;
    transform: translateY(0);
    animation: flickerFloat 6s ease-in-out infinite;
  }
  
  @keyframes flickerFloat {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }
    25% {
      opacity: 0.6;
      transform: translate(-3px, 4px);
    }
    50% {
      opacity: 1;
      transform: translate(3px, -3px);
    }
    75% {
      opacity: 0.65;
      transform: translate(-2px, 2px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }




.festival .icon {
    width: 293px;
    height: 277px;
    background-image: url(../img/festival/flower_4.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 280px;
    right: 480px;
    z-index: 10;
    animation: float 2.5s ease-in-out infinite;

}
@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-12px); 
    }
    100% {
      transform: translateY(0px);
    }
  }






.festival ul{
    display: flex;
    gap: 50px;
    align-items: center;
    transform: translateX(-330px);
}
.festival ul .p1_b{
    font-size: 120px;
    line-height: 120px;
    font-family: 'Yellowtail';
    font-weight: 400;
    z-index: 10;
    color: #FFA48D;
}


.festival ul>li .more {
    display: flex;
    width: 58px;
    height:58px;
    box-sizing: border-box;

    z-index: 10;
    transform: translateY(10px);
}

.festival .con {
 transform: translateY(260px);
    width: 830px;
    height: 703px;
background-image: url(../img/festival/festi_mid_bg.png);
background-position: center;
background-repeat: no-repeat;

    display: flex;
    position: relative;

    align-items: center;
    z-index: 2;

}





.festival .con .slider {

display: flex;

    box-sizing: border-box;
    z-index: 5;
    position: relative;

}

.festival .con .slider .swiper.slide_ff {
    width: 674px;
    height:580px;
    display: flex;
    flex-direction: column;

    position: relative;
    margin-left: 70px;
}
.swiper.slide_ff .festival_mid .swiper-slide {display: flex;
flex-direction: column;
position: relative;
justify-content: space-between;}

.swiper.slide_ff .festival_mid .swiper-slide a{display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    gap: 30px;
}

.swiper.slide_ff .festival_mid .swiper-slide a .slide-text.no1{
    display: flex;
    width: 673px;
    height: 153px;
    box-sizing: content-box;

    border-bottom: 1.5px solid #FF8B6E;

}


.swiper.slide_ff .festival_mid .swiper-slide a .no1 strong {
    color: #FF8B6E;
    font-weight: 600;
    font-size:60px;
    line-height: 70px;
    width: 673px;
    height: 150px;
    font-family: 'Pretendard Variable';

    

}


.swiper.slide_ff .festival_mid .swiper-slide a .slide-content {
    display: flex;
    width: 673px;
    height: 393px;
    box-sizing: border-box;
    gap: 22px;

   
   

}


.swiper.slide_ff .festival_mid .swiper-slide a .slide-content img {
    display: flex;
    width: 346px;
    height:  393px;
    box-sizing: border-box;



   }




.swiper.slide_ff .festival_mid .swiper-slide a .slide-content .slide-text .no2 {
    display: flex;
 flex-direction: column;
    font-family: 'Pretendard Variable';

}


.swiper.slide_ff .festival_mid .swiper-slide a .slide-content .slide-text .p1 {
    color: #656565;
    font-family: 'Pretendard Variable';
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;

}

.swiper.slide_ff .festival_mid .swiper-slide a .slide-content .slide-text .p2 {

    color: #6B5D56;
    font-family: 'Pretendard Variable';
    font-size: 31px;
    font-weight: 200;
    line-height: 50px;

    width: auto;
    height: 50px;
    border-bottom: 1px solid #9e9e9e;
}

.swiper.slide_ff .festival_mid .swiper-slide a .slide-content .slide-text .p3 {

    color: #262626;
    font-family: 'Pretendard Variable';
    font-size: 20px;
    font-weight: 100;
    line-height: 33px;
    margin-top: 20px;


}





.festival-swiper-prev,
.festival-swiper-next {
    position: absolute;
    top: 56%;
    transform: translateY(-70%);
    width: 62px;
    height: 62px;
    cursor: pointer;
    z-index: 10;
    flex-shrink: 0;
}


.festival-swiper-prev {
    left: 160px;
}

/* 오른쪽 버튼 */
.festival-swiper-next {
    right: 160px;
}


.festival-swiper-prev img,
.festival-swiper-next img {
    width: 100%;
    height: auto;
    display: block;
}


/* footer*/

footer {
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;


    background-image: url(../footer-01.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    z-index: 1;
    position: relative;

}



footer .f_all {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: -80px;


    height: 490px;
    margin-bottom: 18px;
}

footer .f_all .f_ani {
    width: 341px;
    height: 197px;

    display: flex;

    z-index: 2;
    align-self: flex-end;
    margin-bottom: 75px;
    margin-right: -18px;
    background-image: url(../img/f_ani.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 1s ease-in-out;


}



footer .f_all .con {
    display: flex;
    width: 1490px;
    justify-content: center;
    height: 186px;
    box-sizing: border-box;
    z-index: 2;

    justify-content: space-between;
    align-items: center;
    margin-left: -114px;





}

footer .f_all .con .logo {
    display: flex;
    width: 227px;
    height: 184px;

    background-image: url(../img/logo_f.png);
    display: block;
    align-self: flex-start;

}



footer .f_all .con .txt {
    width: 620px;
    min-height: 80px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .f_all .con .txt p {
    font-family: 'Pretendard Variable';
    font-size: 22px;
    color: #ffffff;
    line-height: 24px;

    font-weight: 200;
}

footer .f_all .con .txt>ul {
    display: flex;
    gap: 60px;
}

footer .f_all .con .txt>ul>li {
    font-family: 'Pretendard Variable';
    font-size: 22px;
    color: #ffffff;
    line-height: 24px;

    font-weight: 200;
}

footer .f_all .con {
    overflow: visible;
    /* 내부 요소가 숨겨지지 않도록 */
}

footer .f_all .con>ul.sns {
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 60px;
}

footer .f_all .con>ul.sns>li {
    width: 56px;
    height: 56px;
    display: flex;

    align-items: center;
}

footer .f_all .con>ul.sns>li>a {
    width: 56px;
    height: 56px;
    display: flex;

    align-items: center;
}

footer .f_all .con>ul.sns>li>a>i {
    width: 56px;
    height: 56px;
    display: flex;
    /* flex 추가 */

    align-items: center;
    font-size: 50px;
    /* 아이콘 크기 조절 */
    color: #ffffff;
}

footer .f_all .con>ul.sns>li>a:hover>i {
    width: 56px;
    height: 56px;
    display: flex;
    /* flex 추가 */

    align-items: center;
    font-size: 50px;
    /* 아이콘 크기 조절 */
    color: #ff8330;
}